

{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{%static 'css/style1.css'%}">

<link rel="icon" type="image/png" sizes="32x32" href="{%static 'img/favicon/favicon-32x32.png'%}">
<link rel="icon" type="image/png" sizes="96x96" href="{%static 'img/favicon/favicon-96x96.png'%}">
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'img/favicon/favicon-16x16.png'%}">

{% load crispy_forms_tags %}



{% block style %}



{% endblock %}


{% block content%}


<div class="grid grid-cols-1 lg:grid-cols-2">

    <div class="bg-neutral-900 lg:min-h-screen lg:flex lg:items-center p-8 sm:p-12">
        <div class="flex-grow">
          <div class="direita">
          <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-8">
              <div>
                <img class="mx-auto h-20 w-auto" src="{%static 'img/logo.png'%}" alt="">
      
                <h2 class="mt-6 text-center text-3xl font-extrabold text-sky-50">Criar uma Conta</h2>
                
              </div>

              <form id="signup_form" autocomplete="off" class="mt-8 signup space-y-3"  method="POST">
                {% csrf_token %}
      
    
                <div class="rounded-md shadow-sm -space-y-px ">

                
                                   
                  <div class="mb-3">
                    <label for="id_username" class="sr-only">Nome de usuário:</label>
                    <input class=" appearance-none rounded-md relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="text" name="username" placeholder="Nome de usuário" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                  </div>
                      
                             
                    
                    <div class="mb-3">
                      <label for="id_email" class="sr-only">E-mail:</label>
                      <input class=" mb-3 appearance-none rounded-md relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="email" name="email" placeholder="Endereço de e-mail" autocomplete="email" id="id_email">
                                            
                    </div>
                  
                    
                    <div class="mb-3 mt-3">
                      <label for="id_password1" class="sr-only">Senha:</label>
                      <input class=" appearance-none rounded-md relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="password" name="password1" placeholder="Senha" autocomplete="new-password" required="" id="id_password1">
                                            
                    </div>
                  
                    <!-- 
                    <div class="">

                      <label for="id_password2" class="sr-only">Senha (novamente):</label>
                      <input class="appearance-none rounded-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" type="password" name="password2" placeholder="Senha (novamente)" autocomplete="new-password" required="" id="id_password2">
                                                                 
                     </div>
                    -->
                   

                </div>
          
               
          
                <div>


                  <button name="logar" value="logar" type="submit" class="cadastrar group relative w-full flex justify-center py-4 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                      <!-- Heroicon name: solid/lock-closed -->
                      <svg class="h-5 w-5 text-white-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                      </svg>
                    </span>
                    Cadastrar
                  </button>
                  <div class="text-sm abaixo text-center mt-3">
                    <a href="{% url 'account_login' %}" class="font-medium text-yellow-600 hover:text-yellow-500"> Fazer Login</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
         </div>
        </div>
     
    </div>


  <div class=" imagem bg-amber-500 lg:min-h-screen lg:flex lg:items-center  ">
      <div class="flex-grow wallpaper-cadastro">
       
      </div>
   
  </div>



</div>



<script src="https://unpkg.com/scrollreveal"></script>
  <script src="{%static 'js/scollreveal.js'%}"></script>
  

{% endblock %}