{% extends '../base.html' %}


{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<h2 class="hh2 mt-3 text-center"> Agendar horario</h2>
<form method="post" class="my-class text-light">
    
    {% csrf_token %}

    <div class="row justify-content-md-center">
     <div class="form-group col-md-auto mb-3 text-center">
        <div class="d-flex gap-3 text-center rolagem">      
        {% for f in funcionarios%}
    
            <div value="{{f.id}}"  id="div_f{{f.id}}" class="bg-amber-500 d-flex  funcionarios rounded-md">       
            <input name="funcionario" id="{{f.nome}}" class="sumiu text-dark check{{f.id}} checado" type="checkbox" placeholder="{{f.nome}}" value="{{f.id}}" >
           
            {% if f.foto %}
            <div class="flex -space-x-2 overflow-hidden">

            <img class="inline-block h-10 w-10 rounded-full foto-url" src="{{f.foto.url}}" alt="">
            </div>
            {% else %} 
            vazio  
             {% endif %}
            <label for="{{f.nome}}">{{f.nome}}</label>
            </div>
          
        {% empty%}
        <p>Nenhum funcionario disponivel</p>
        
        {% endfor%}
    </div>
</div>

   </div>

   <div class="row  justify-content-md-center">
    
    <div class="form-group col-md-3 ">
        {{ form.dia|as_crispy_field }}
    </div>

    <div class="form-group col-md-3 mb-3">
        {{ form.servico|as_crispy_field }}
    </div>
</div>
<!-- Horarios-->



<div class="row justify-content-md-center gap-3 mb-3 p-3">
   
    {% for h in horarios %}
    
    
    <div class="card bg-none col-md-auto text-center hh">
        <div class="card-body bg-none text-darkhh">
            <div value=" {{h.horario}}"  id="" class="bg-amber-500 d-flex  funcionarios rounded-md">       
            <input name="horarios" id="{{h.id}}" class=" text-dark" type="checkbox" placeholder="{{h.horario}}" value=" {{h.id}}" >   
            {{h.horario}}
        </div>
    </div>
</div> 
    {% empty%}
    <p>Nenhum horario disponivel</p>
   
    {% endfor%}
</div>
   <!-- campos-->


    <div class="row justify-content-md-center">

    
  
</div>


<div>
    <div class="row mt-3 justify-content-md-center">
        <div class="form-group col-md-4 mb-3">
<button name="logar" value="logar" type="submit" class=" entrar group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          
        </span>
        Agendar
      </button>
    </div>
    </div>
</div>
</form>
</div>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}